{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Quer saber qual melhor computador para rodar seu jogo favorito? Descubra agora, é grátis! Descubra o Pc Que Roda! PcQueRoda."
    />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:image" content="{% static 'searcher/public.png' %}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="PcQueRoda | Descubra qual PC Que Roda" />
    <meta
      property="og:description"
      content="Saiba como comprar o melhor computador gamer. Quer saber qual melhor computador para rodar seu jogo favorito? Descubra agora, é grátis!"
    />
    <meta property="og:url" content="https://app.pcqueroda.com/" />
    <meta
      name="keywords"
      content="pcqueroda, pc que roda, computador gamer, computador para jogos, pc gamer, pc para jogar, qual pc comprar, notebook para jogos, computador gamer barato"
    />
    <link rel="canonical" href="https://app.pcqueroda.com/" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'searcher/styles.min.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'searcher/favicon.png' %}"
      sizes="32x32"
    />
    <script
      data-ad-client="ca-pub-5450297182553547"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>

    <title>
      PcQueRoda | A melhor ferramenta para encontrar seu PC Gamer Barato
    </title>

    <style>
      *:focus {
        box-shadow: none !important;
      }
    </style>

    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "2416081808653373");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none;"
        src="https://www.facebook.com/tr?id=2416081808653373&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <script type="text/javascript">
      var lmdimgpixel = document.createElement("img");
      lmdimgpixel.src = "//secure.lomadee.com/pub.png?pid=22911461";
      lmdimgpixel.id = "lmd-verification-pixel-22911461";
      lmdimgpixel.style = "display:none";

      var elmt = document.getElementsByTagName("body")[0];
      elmt.appendChild(lmdimgpixel);
    </script>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v7.0&appId=1056541204742488&autoLogAppEvents=1"
      nonce="HMKNpwDF"
    ></script>
    <div class="container">
      <header>
        <a href="?">
          <img src="{% static 'searcher/logo.png' %}" alt="Logo" width="300" />
        </a>
        <h4>
          <span
            >Não sabe qual computador comprar? Vamos te mostrar a melhor
            opção!</span
          >
        </h4>
      </header>
      <main>
        <div id="content">
          {% block content %} {% endblock %}
        </div>
      </main>

      <div class="share-buttons">
        Compartilhar
        <ul>
          <li>
            <a
              href="whatsapp://send?text=Não Sabe Qual PC Comprar? Deixa que nós te falamos qual PcQueRoda! https://app.pcqueroda.com "
              data-action="share/whatsapp/share"
              ><img
                src="{% static 'searcher/social/whatsapp.png' %}"
                alt="whatsapp"
                srcset=""
            /></a>
          </li>
        </ul>
      </div>
      <div class="side-bg">
        <svg
          width="181"
          height="226"
          viewBox="0 0 181 226"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 226V0L181 226H0Z" fill="#12FF8D" />
        </svg>
        <svg
          width="181"
          height="226"
          viewBox="0 0 181 226"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M181 226V0L0 226H181Z" fill="#12FF8D" />
        </svg>
      </div>

      <!-- <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
        (function () {
          // DON'T EDIT BELOW THIS LINE
          var d = document,
            s = d.createElement("script");
          s.src = "https://pcqueroda.disqus.com/embed.js";
          s.setAttribute("data-timestamp", +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript
        >Please enable JavaScript to view the
        <a href="https://disqus.com/?ref_noscript"
          >comments powered by Disqus.</a
        ></noscript
      > -->

      <footer>
        <p>
          PcQueRoda não é uma marca ou loja de computadores. Nós apenas
          selecionamos as melhores opções de acordo com a sua intenção de uso e
          listamos as Lojas que consideramos confiáveis baseadas nas avaliações
          de clientes.
        </p>

        <a href="#">Criado e mantido com ♡ pela Fluxel Solutions</a>
      </footer>
    </div>
  </body>
</html>
