{% extends 'searcher/base.html' %} {% block content %}

<div id="navbar">
      <input
    type="text"
    class="search-input"
    placeholder="Digite aqui o nome do Jogo ou Software"
  />
</div>
<div class="section-search">
  <div id="ajax-software-search-replace">
    {% include 'searcher/softwares-results-partial.html' %}
  </div>
</div>

{% comment %} <p id="selected-items-text"></p> {% endcomment %}
<p hidden id="selected-items-text"></p>
<div id="descbar">
<a class="next-button" href="results">descobrir pc</a>
</div>

{% endblock content %}
