<h5
  style="text-align: center; margin-bottom: 30px; width: 100%; display: block;"
>
  Para começar selecione abaixo os programas ou jogos que você quer rodar:
</h5>
<div class="search-wrapper">
  <h2>Softwares</h2>
  <div class="search-input-wrapper">
    <div class="has-icon-right">
      <input
        type="text"
        class="form-input search-input"
        placeholder="Pesquisar"
      />
      <i class="form-icon icon icon-search"></i>
    </div>
  </div>
</div>
<div id="ajax-software-search-replace" class="software-list">
  {% include 'searcher/select-software-partial.html' %}
</div>
