{% if software_list %}
<ul>
  {% for software in software_list %}
  <li class="software-item" data-name="{{software.name}}" data-id="{{software.id}}">
    {% if software.image %}
        {% if 'md5/' in software.image.url%}
        <img src="{{software.image }}" alt="{{software.name}}" />
        {% else %}
        <img src="{{software.image.url }}" alt="{{software.name}}" />
        {% endif %}
    {% else %}
    {% load static %}
      <img
        src="{% static 'searcher/placeholder.png' %}"
        alt="{{software.name}}"
      />
    {% endif %}
    <p>{{software.name}}</p>
  </li>
  {% endfor %}
</ul>
<h6>Selecione no mínimo um jogo ou software para continuar.</h6>

{% else %}
<h3 style="margin: 25px;text-align:center;">
  Nenhum item foi encontrado em nossa base de dados ;(
</h3>
{% endif %}