<div class="type-selector">
  <ul>
    <li data-type="Desktop">
      <img
        src="https://img.terabyteshop.com.br/produto/g/pc-gamer-tera-edition-amd-ryzen-5-3600-radeon-navi-rx-5700-xt-8gb-ddr4-8gb-hd-1tb-600_99272.png"
        alt="Desktop"
      />
      <h3>Desktop</h3>
    </li>
    <li data-type="Notebook">
      <img
        src="https://static.wixstatic.com/media/d704b0_139a374961c64e40be76ab709abd5f57~mv2.png/v1/fit/w_498,h_498,q_90/file.png"
        alt="Laptop"
      />
      <h3>Laptop</h3>
    </li>
  </ul>
</div>
